@tailwind base;
@tailwind components;
@tailwind utilities;

.link-item::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 0px;
  bottom: -5px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
  animation: expand-width alternate-reverse;
}

.link-item:hover::before {
  width: 100%;
}

.navlink-item::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  text-align: center;
  bottom: -10px;
  left: 50%;
  opacity: 0;
  background-color: #081f5c;
  cursor: pointer;
  transition: all 0.5s;
  animation: expand-width alternate-reverse;
}

.navlink-item:hover::before {
  opacity: 1;
}

/*        -----------------------            -----------------               ---------------           -----------*/

@font-face {
  font-family: "Light";
  src: local("TWKEverett-Light");
  src: url("./fonts/TWKEverett-Light.otf") format("opentype");
}
@font-face {
  font-family: "Regular";
  src: local("TWKEverett-Regular");
  src: url("./fonts/TWKEverett-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: local("TWKEverett-Medium");
  src: url("./fonts/TWKEverett-Medium.otf") format("opentype");
}
@font-face {
  font-family: "LightItalic";
  src: local("TWKEverett-LightItalic");
  src: url("./fonts/TWKEverett-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "MediumItalic";
  src: local("TWKEverett-MediumItalic");
  src: url("./fonts/TWKEverett-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: local("TWKEverett-Bold");
  src: url("./fonts/TWKEverett-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Extrabold";
  src: local("TWKEverett-Extrabold");
  src: url("./fonts/TWKEverett-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: "ExtraboldItalic";
  src: local("TWKEverett-ExtraboldItalic");
  src: url("./fonts/TWKEverett-ExtraboldItalic.otf") format("opentype");
}
