@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background: url("./assets/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*        -----------------------            -----------------               ---------------           -----------*/

@font-face {
  font-family: "Light";
  src: local("Matter-Light");
  src: url("./fonts/Matter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("Matter-Regular");
  src: url("./fonts/Matter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Matter-Medium");
  src: url("./fonts/Matter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("Matter-Bold");
  src: url("./fonts/Matter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: local("Matter-SemiBold");
  src: url("./fonts/Matter-SemiBold.ttf") format("truetype");
}
